node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.git
.gitignore
.windsurf
.vscode

**/node_modules
**/dist

api
vercel.json
DEPLOY-VERCEL.md

*.local
.env
.env.*
!packages/bot-service/.env.example
